<h1>Employee Details : {{ employees.length }}</h1> 
<hr>

<div class="row mb-4 ml-3">

  <!-- Deparment Dropdown -->
  <div class="col md-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Deprtments</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				<button ngbDropdownItem (click)="departmentChangeEvent('Computer')">Computer</button>
				<button ngbDropdownItem (click)="departmentChangeEvent('Physics')">Physics</button>
				<button ngbDropdownItem (click)="departmentChangeEvent('Chemistry')">Chemistry</button>
			</div>
    </div>
  </div>

  <!-- Search Name / Email -->
  <div class="col md-3">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Name / Email" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="searchText" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchData()">Search</button>
    </form>
  </div>

  <!-- Reset and Reload Data -->
  <div class="col md-3">
    <button class="btn btn-primary" (click)="resetData()">Reset and Reload Data</button>
  </div>

  <!-- Sort Dropdown -->
  <div class="col md-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle (click)="sortChangeAtoZ()">Sort By</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="sortChangeAtoZ()">[A-Z]</button>
        <button ngbDropdownItem (click)="sortChangeZtoA()">[Z-A]</button>
        <button ngbDropdownItem (click)="sortChangeAge()">Age</button>
        <button ngbDropdownItem (click)="sortChangeEmail()">Email</button>
      </div>
    </div>
  </div>
</div>

<hr>
<!-- Employee Details in Table -->
<table class="table table-bordered table-striped">
  <thead>
    <tr style="background-color: #aaa;">
      <th scope="col">Employee Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email Address</th>
      <th scope="col">Departments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.email}}</td>
      <td ngbTooltip="{{employee.departments}}">{{employee.departments.length}}</td>
    </tr>
  </tbody>
</table>