<h1>Employee Details {{total}} </h1>
<hr>

<div class="row mb-4">
  <div class="col md-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Computer</button>
        <button ngbDropdownItem>Physics</button>
        <button ngbDropdownItem>Chemistry</button>
      </div>
    </div>
  </div>
  <div class="col md-3">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Name / Email" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchText" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchData()">Search</button>
    </form>
  </div>
  <div class="col md-3">
    <button class="btn btn-primary" (click)="refreshHandling()">Reset and Reload Data</button>
  </div>
  <div class="col md-3">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle  (click)="sorting()">Sort By</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="sorting()">[A-Z]</button>
        <button ngbDropdownItem (click)="sortingZToA()">[Z-A]</button>
        <button ngbDropdownItem (click)="sortingAge()">Age</button>
        <button ngbDropdownItem (click)="sortingEmail()">Email</button>
      </div>
    </div>
    <!-- <button (click)="sorting()">sort</button> -->
  </div>
</div>
<hr>
<table class="table table-bordered table-striped">
  <thead>
    <tr style="background-color: #aaa;">
      <th scope="col">Employee Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email Address</th>
      <th scope="col">Departments</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.name}}</td>
      <td>{{employee.age}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.departments.length}}</td>
    </tr>
  </tbody>
</table>